p {
    font-size:20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
p.hinta {
    color:red;
    font-size:17px;
    margin-top:5px;
}
p.nimi {
    font-size:20px;
    margin-top:5px;
    margin-bottom:5px;
}
h1.pitseria {
    color:white;
    text-shadow: #111;
}
header {
    text-align:center;
    background: rgba(92, 46, 27,0.7) ;
    padding: 10px;
}
body {
    background-color: #111;
    color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nappi {
    border-style:inset;
    color:white;
    text-align:center;
    text-decoration: none;
    background-color:rgb(92, 46, 27);
}
.button {
    border:1px solid white;
    background-color: rgb(92, 46, 27);
    color:white;
    width:200px;
    height:30px;
    font-size:20px;
    border-radius:5px
}